* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #141414;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh; /* Cambiado a min-height para permitir scroll si el contenido es más alto */
    overflow-x: hidden; /* Evitar el scroll horizontal */
    overflow-y: auto; /* Permitir el scroll vertical */
    scroll-behavior: smooth; /* Suavizar el scroll */
    padding: 20px;
}

#intro {
    position: relative;
    text-align: center;
    z-index: 1;
    margin-bottom: 20px;
}

#promo {
    font-size: 4rem;
    color: #ff6363;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    animation: colorChange 3s infinite alternate;
}

@keyframes colorChange {
    from {
        color: #ff6363;
    }
    to {
        color: #00d4ff;
    }
}

#slideshow {
    position: absolute;
    top: 50%;               /* Posicionar el contenedor al 50% de la altura de la página */
    left: 50%;              /* Posicionar el contenedor al 50% del ancho de la página */
    transform: translate(-50%, -50%);  /* Moverlo hacia el centro exacto */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    z-index: 2;
}



.slideshow-item {
    width: 80%;  /* Ajuste para pantallas móviles */
    height: auto;
    opacity: 0;  /* Inicialmente invisibles */
    position: absolute;
    transition: opacity 1s ease-in-out;
}

.hidden {
    display: none;  /* Ocultar completamente cuando no estén en el slideshow */
}

#gallery {
    display: none;  /* La galería está oculta inicialmente */
    opacity: 0;
    transition: opacity 2s;
    width: 100%;  /* Asegurar que la galería ocupe el ancho completo en móviles */
}


.gallery-image {
    width: 90%;  /* Ajuste para pantallas móviles */
    margin: 10px auto;  /* Centrar las imágenes de la galería */
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    display: block; /* Asegurar que las imágenes se comporten como bloques */
}

.caption {
    text-align: center;
    font-size: 1.5rem;
    color: #ffeb3b;
    margin-top: 20px;
    opacity: 0;
    transition: opacity 2s ease;
}

/* Diseño responsivo para móviles */
@media only screen and (max-width: 768px) {
    body {
        padding: 10px;
        min-height: auto; /* Asegurar que el cuerpo se expanda en móviles */
    }
    
    #promo {
        font-size: 3rem;
    }
    
    .slideshow-item {
        width: 90%;  /* Más pequeño en pantallas móviles */
    }

    .gallery-image {
        width: 95%;  /* Más ancho para pantallas pequeñas */
    }
}
