* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #141414;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding: 20px;
}

#intro {
    position: fixed;
    top: 10%;
    text-align: center;
    z-index: 1;
}

#promo {
    font-size: 5rem;
    color: #ff6363;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    opacity: 1;  /* Siempre visible */
    animation: colorChange 3s infinite alternate;
}

@keyframes colorChange {
    from {
        color: #ff6363;
    }
    to {
        color: #00d4ff;
    }
}

#slideshow {
    position: relative;
    top: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.slideshow-item {
    width: 60%;  /* Más grande para que destaque en el centro */
    height: auto;
    opacity: 0;
    position: absolute;
    transition: opacity 2s ease-in-out, transform 2s ease-in-out;
    transform: scale(0.8);
    z-index: 1;
}

.slideshow-item:not(.hidden) {
    transform: scale(1);
    opacity: 1;
}

.hidden {
    display: none;
}

#gallery {
    position: relative;
    top: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    opacity: 0;
    transition: opacity 2s;
}

.gallery-image {
    width: 45%;
    height: auto;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.gallery-image:hover {
    transform: scale(1.05);
}

.caption {
    text-align: center;
    font-size: 1.5rem;
    color: #ffeb3b;
    margin-top: 20px;
    opacity: 0;
    transition: opacity 2s ease;
}

@media only screen and (max-width: 768px) {
    body {
        height: auto;
    }
    
    #promo {
        font-size: 3rem;
    }
    
    .slideshow-item {
        width: 90%;
        max-width: 300px;
    }
    
    .gallery-image {
        width: 90%;
    }
}
