* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #141414;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;  /* Evitar scroll mientras el slideshow está activo */
}

#intro {
    position: fixed;
    top: 10%;
    text-align: center;
    z-index: 1;
}

#promo {
    font-size: 4rem;
    color: #ff6363;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    animation: colorChange 3s infinite alternate;
}

@keyframes colorChange {
    from {
        color: #ff6363;
    }
    to {
        color: #00d4ff;
    }
}

#slideshow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  /* Centrar el slideshow */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    z-index: 2;
}

.slideshow-item {
    width: 70%;  /* Tamaño grande para las imágenes */
    height: auto;
    opacity: 0;  /* Inicialmente invisibles */
    position: absolute;
    transition: opacity 1s ease-in-out;
}

.hidden {
    display: none;  /* Ocultar completamente cuando no estén en el slideshow */
}

#gallery {
    display: none;  /* La galería permanece oculta hasta que se muestre */
    opacity: 0;
    transition: opacity 2s;
}

/* Solo para la galería estática una vez que el slideshow haya terminado */
.gallery-image {
    width: 45%;
    margin: 10px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.caption {
    text-align: center;
    font-size: 1.5rem;
    color: #ffeb3b;
    margin-top: 20px;
    opacity: 0;
    transition: opacity 2s ease;
}

@media only screen and (max-width: 768px) {
    #promo {
        font-size: 3rem;
    }
    
    .slideshow-item {
        width: 90%;
    }

    .gallery-image {
        width: 90%;
    }
}
